<a href="https://colab.research.google.com/github/sheikh495/database/blob/main/M10_9_Coding_Assignment_PythonandSQLiteIntegration_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Step 1: Set Up the Database

In [ ]:
from google.colab import files
uploaded = files.upload()  # Upload the chinook.db file

Saving chinook.db to chinook (1).db

# Step 2: Connecting to the Database

In [ ]:
import sqlite3

def connect_to_db(db_path):
    try:
        # Establish a connection to the SQLite database
        conn = sqlite3.connect(db_path)
        print("Connection successful!")
        return conn
    except sqlite3.Error as e:
        print(f"Error connecting to database: {e}")
        return None

# Path to the uploaded chinook.db file in Google Colab
db_path = "/content/chinook.db"

# Connect to the database
conn = connect_to_db(db_path)

Connection successful!

# Step 3: Read Records

View all employees in the employees table:

In [ ]:
import pandas as pd

# Function to view all employees
def view_all_employees(conn):
    try:
        query = "SELECT * FROM employees"
        df = pd.read_sql_query(query, conn)
        return df
    except sqlite3.Error as e:
        print(f"Error retrieving employees: {e}")

# Test: View all employees
if conn:
    employees_df = view_all_employees(conn)
    print(employees_df)

   EmployeeId  LastName FirstName                Title  ReportsTo  \
0           1     Adams    Andrew      General Manager        NaN
1           2   Edwards     Nancy        Sales Manager        1.0
2           4      Park  Margaret  Sales Support Agent        2.0
3           5   Johnson     Steve  Sales Support Agent        2.0
4           6  Mitchell   Michael           IT Manager        1.0
5           7      King    Robert             IT Staff        6.0
6           8  Callahan     Laura             IT Staff        6.0
7           9       Doe      John  Sales Support Agent        2.0

             BirthDate             HireDate                      Address  \
0  1962-02-18 00:00:00  2002-08-14 00:00:00          11120 Jasper Ave NW
1  1958-12-08 00:00:00  2002-05-01 00:00:00                 825 8 Ave SW
2  1947-09-19 00:00:00  2003-05-03 00:00:00             683 10 Street SW
3  1965-03-03 00:00:00  2003-10-17 00:00:00                 7727B 41 Ave
4  1973-07-01 00:00:00  2003-10-17 00:00:00         5827 Bowness Road NW
5  1970-05-29 00:00:00  2004-01-02 00:00:00  590 Columbia Boulevard West
6  1968-01-09 00:00:00  2004-03-04 00:00:00                  923 7 ST NW
7           1985-07-15           2024-11-01                  1234 Elm St

         City       State Country PostalCode              Phone  \
0    Edmonton          AB  Canada    T5K 2N1  +1 (780) 428-9482
1     Calgary          AB  Canada    T2P 2T3  +1 (403) 262-3443
2     Calgary          AB  Canada    T2P 5G3  +1 (403) 263-4423
3     Calgary          AB  Canada    T3B 1Y7   1 (780) 836-9987
4     Calgary          AB  Canada    T3B 0C5  +1 (403) 246-9887
5  Lethbridge          AB  Canada    T1K 5N8  +1 (403) 456-9986
6  Lethbridge          AB  Canada    T1H 1Y8  +1 (403) 467-3351
7   Some City  Some State     USA      12345           555-1234

                 Fax                     Email
0  +1 (780) 428-3457    andrew@chinookcorp.com
1  +1 (403) 262-3322     nancy@chinookcorp.com
2  +1 (403) 263-4289  margaret@chinookcorp.com
3   1 (780) 836-9543     steve@chinookcorp.com
4  +1 (403) 246-9899   michael@chinookcorp.com
5  +1 (403) 456-8485    robert@chinookcorp.com
6  +1 (403) 467-8772     laura@chinookcorp.com
7           555-5678       johndoe@example.com

WWW

In [ ]:
#import sqlite3
#import pandas as pd

# Connect to the SQLite database (make sure the file path is correct)
#conn = sqlite3.connect('/content/chinook.db')

# Function to view all employees
def view_all_employees(conn):
    try:
        query = "SELECT * FROM employees"
        df = pd.read_sql_query(query, conn)
        return df
    except sqlite3.Error as e:
        print(f"Error retrieving employees: {e}")

# Test: View all employees
if conn:
    employees_df = view_all_employees(conn)
    display(employees_df)  # This will display the DataFrame as a table in Google Colab

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
3,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
4,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
5,7,King,Robert,IT Staff,6.0,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
6,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com
7,9,Doe,John,Sales Support Agent,2.0,1985-07-15,2024-11-01,1234 Elm St,Some City,Some State,USA,12345,555-1234,555-5678,johndoe@example.com
8,10,Doe,John,Sales Support Agent,2.0,1985-07-15,2024-11-01,1234 Elm St,Fairfax,VA,USA,22030,555-1234,555-5678,johndoe@example.com

View employees by job title:

In [ ]:
def view_employee_by_title(conn, title):
    try:
        query = "SELECT * FROM employees WHERE Title = ?"
        df = pd.read_sql_query(query, conn, params=(title,))
        return df
    except sqlite3.Error as e:
        print(f"Error retrieving employees by title: {e}")

# Test: View employees by title
if conn:
    employees_with_title = view_employee_by_title(conn, "Sales Support Agent")
    print(employees_with_title)

   EmployeeId LastName FirstName                Title  ReportsTo  \
0           4     Park  Margaret  Sales Support Agent          2
1           5  Johnson     Steve  Sales Support Agent          2
2           9      Doe      John  Sales Support Agent          2

             BirthDate             HireDate           Address       City  \
0  1947-09-19 00:00:00  2003-05-03 00:00:00  683 10 Street SW    Calgary
1  1965-03-03 00:00:00  2003-10-17 00:00:00      7727B 41 Ave    Calgary
2           1985-07-15           2024-11-01       1234 Elm St  Some City

        State Country PostalCode              Phone                Fax  \
0          AB  Canada    T2P 5G3  +1 (403) 263-4423  +1 (403) 263-4289
1          AB  Canada    T3B 1Y7   1 (780) 836-9987   1 (780) 836-9543
2  Some State     USA      12345           555-1234           555-5678

                      Email
0  margaret@chinookcorp.com
1     steve@chinookcorp.com
2       johndoe@example.com

OR

In [ ]:
#import sqlite3
#import pandas as pd

# Connect to the SQLite database
#conn = sqlite3.connect('/content/chinook.db')

# Function to view all employees

def view_all_employees(conn):
    try:
        query = "SELECT * FROM employees"
        df = pd.read_sql_query(query, conn)
        return df
    except sqlite3.Error as e:
        print(f"Error retrieving employees: {e}")

# Function to view employees by job title
def view_employee_by_title(conn, title):
    try:
        query = "SELECT * FROM employees WHERE Title = ?"
        df = pd.read_sql_query(query, conn, params=(title,))
        return df
    except sqlite3.Error as e:
        print(f"Error retrieving employees by title: {e}")

# Test: View all employees
if conn:
    print("All Employees:")
    employees_df = view_all_employees(conn)
    display(employees_df)  # Display all employees

    # Example: View employees by title "Sales Support Agent"
    print("\nEmployees with 'Sales Support Agent' title:")
    title = "Sales Support Agent"  # Modify this as needed
    employees_by_title_df = view_employee_by_title(conn, title)
    display(employees_by_title_df)  # Display employees with the specified title

All Employees:

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
3,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
4,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
5,7,King,Robert,IT Staff,6.0,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
6,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com
7,9,Doe,John,Sales Support Agent,2.0,1985-07-15,2024-11-01,1234 Elm St,Some City,Some State,USA,12345,555-1234,555-5678,johndoe@example.com
8,10,Doe,John,Sales Support Agent,2.0,1985-07-15,2024-11-01,1234 Elm St,Fairfax,VA,USA,22030,555-1234,555-5678,johndoe@example.com

Employees with 'Sales Support Agent' title:

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,4,Park,Margaret,Sales Support Agent,2,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
1,5,Johnson,Steve,Sales Support Agent,2,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
2,9,Doe,John,Sales Support Agent,2,1985-07-15,2024-11-01,1234 Elm St,Some City,Some State,USA,12345,555-1234,555-5678,johndoe@example.com
3,10,Doe,John,Sales Support Agent,2,1985-07-15,2024-11-01,1234 Elm St,Fairfax,VA,USA,22030,555-1234,555-5678,johndoe@example.com

OR p2

In [ ]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('/content/chinook.db')

# Function to view employees by title
def view_employee_by_title(conn, title):
    try:
        query = "SELECT * FROM employees WHERE Title = ?"
        df = pd.read_sql_query(query, conn, params=(title,))
        return df
    except sqlite3.Error as e:
        print(f"Error retrieving employees with title {title}: {e}")

# Function to view all employees
def view_all_employees(conn):
    try:
        query = "SELECT * FROM employees"
        df = pd.read_sql_query(query, conn)
        return df
    except sqlite3.Error as e:
        print(f"Error retrieving employees: {e}")

# Test: View all employees with the title "Sales Support Agent"
if conn:
    title_to_search = "Sales Support Agent"  # Change the title as needed
    employees_by_title_df = view_employee_by_title(conn, title_to_search)

    # Display employees with the specific title
    display(employees_by_title_df)  # Show employees with the given title in tabular format

# Close the connection after performing operations
 .close()

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,5,Johnson,Steve,Sales Support Agent,2,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
1,9,Doe,John,Sales Support Agent,2,1985-07-15,2024-11-01,1234 Elm St,Some City,Some State,USA,12345,555-1234,555-5678,johndoe@example.com
2,10,Doe,John,Sales Support Agent,2,1985-07-15,2024-11-01,1234 Elm St,Fairfax,VA,USA,22030,555-1234,555-5678,johndoe@example.com

# Step 4: Create Records

In [ ]:
def add_employee(conn, employee_data):
    try:
        query = """
        INSERT INTO employees (FirstName, LastName, Title, ReportsTo, BirthDate, HireDate, Address, City, State, Country, PostalCode, Phone, Fax, Email)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        """
        conn.execute(query, employee_data)
        conn.commit()
        print("Employee added successfully!")
    except sqlite3.Error as e:
        print(f"Error adding employee: {e}")

# Sample data to add a new employee
new_employee = ('Sheikh', 'Uddin', 'Sales Manager', 2, '1985-07-15', '2024-11-01', '1234 Elm St', 'Fairfax', 'VA', 'USA', '22030', '555-1234', '555-5678', 'suddin@example.com')

# Test: Add a new employee
if conn:
    add_employee(conn, new_employee)

Employee added successfully!

OR

In [ ]:
#import sqlite3
#import pandas as pd

# Connect to the SQLite database
#conn = sqlite3.connect('/content/chinook.db')

# Function to add a new employee
def add_employee(conn, employee_data):
    try:
        query = """
        INSERT INTO employees (FirstName, LastName, Title, ReportsTo, BirthDate, HireDate, Address, City, State, Country, PostalCode, Phone, Fax, Email)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        """
        conn.execute(query, employee_data)
        conn.commit()
        print("Employee added successfully!")
    except sqlite3.Error as e:
        print(f"Error adding employee: {e}")

# Function to view all employees
def view_all_employees(conn):
    try:
        query = "SELECT * FROM employees"
        df = pd.read_sql_query(query, conn)
        return df
    except sqlite3.Error as e:
        print(f"Error retrieving employees: {e}")

# Sample data to add a new employee
new_employee = ('Sheikh', 'Uddin', 'Sales Manager', 2, '1985-07-15', '2024-11-01', '1234 Elm St', 'Fairfax', 'VA', 'USA', '22030', '555-1234', '555-5678', 'suddin@example.com')

# Test: Add a new employee
if conn:
    add_employee(conn, new_employee)

    # Display all employees after adding the new one
    employees_df = view_all_employees(conn)
    display(employees_df)  # Show employees in tabular format

Employee added successfully!

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
3,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
4,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
5,7,King,Robert,IT Staff,6.0,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
6,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com
7,9,Doe,John,Sales Support Agent,2.0,1985-07-15,2024-11-01,1234 Elm St,Some City,Some State,USA,12345,555-1234,555-5678,johndoe@example.com
8,10,Doe,John,Sales Support Agent,2.0,1985-07-15,2024-11-01,1234 Elm St,Fairfax,VA,USA,22030,555-1234,555-5678,johndoe@example.com
9,11,Uddin,Sheikh,Sales Manager,2.0,1985-07-15,2024-11-01,1234 Elm St,Fairfax,VA,USA,22030,555-1234,555-5678,suddin@example.com
10,12,Uddin,Sheikh,Sales Manager,2.0,1985-07-15,2024-11-01,1234 Elm St,Fairfax,VA,USA,22030,555-1234,555-5678,suddin@example.com
11,13,Uddin,Sheikh,Sales Manager,2.0,1985-07-15,2024-11-01,1234 Elm St,Fairfax,VA,USA,22030,555-1234,555-5678,suddin@example.com

# Step 5: Update Records

In [ ]:
def update_employee_title(conn, employee_id, new_title):
    try:
        query = "UPDATE employees SET Title = ? WHERE EmployeeID = ?"
        conn.execute(query, (new_title, employee_id))
        conn.commit()
        print(f"Employee ID {employee_id} title updated to {new_title}")
    except sqlite3.Error as e:
        print(f"Error updating employee title: {e}")

# Test: Update the title of an existing employee
if conn:
    update_employee_title(conn, 3, 'Senior Sales Support Agent')

Employee ID 3 title updated to Senior Sales Support Agent

OR

In [ ]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('/content/chinook.db')

# Function to update employee title
def update_employee_title(conn, employee_id, new_title):
    try:
        query = "UPDATE employees SET Title = ? WHERE EmployeeID = ?"
        conn.execute(query, (new_title, employee_id))
        conn.commit()
        print(f"Employee ID {employee_id} title updated to {new_title}")
    except sqlite3.Error as e:
        print(f"Error updating employee title: {e}")

# Function to view all employees
def view_all_employees(conn):
    try:
        query = "SELECT * FROM employees"
        df = pd.read_sql_query(query, conn)
        return df
    except sqlite3.Error as e:
        print(f"Error retrieving employees: {e}")

# Test: Update the title of an existing employee (Employee ID 3)
if conn:
    update_employee_title(conn, 4, 'Senior Sales Support Agent')

    # Display all employees after the update
    employees_df = view_all_employees(conn)

    # Display the table of employees in Google Colab
    display(employees_df)  # Show employees in tabular format

# Close the connection after performing operations
conn.close()

Employee ID 4 title updated to Senior Sales Support Agent

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,4,Park,Margaret,Senior Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
3,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
4,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
5,7,King,Robert,IT Staff,6.0,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
6,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com
7,9,Doe,John,Sales Support Agent,2.0,1985-07-15,2024-11-01,1234 Elm St,Some City,Some State,USA,12345,555-1234,555-5678,johndoe@example.com
8,10,Doe,John,Sales Support Agent,2.0,1985-07-15,2024-11-01,1234 Elm St,Fairfax,VA,USA,22030,555-1234,555-5678,johndoe@example.com
9,11,Uddin,Sheikh,Senior Sales Support Agent,2.0,1985-07-15,2024-11-01,1234 Elm St,Fairfax,VA,USA,22030,555-1234,555-5678,suddin@example.com
10,12,Uddin,Sheikh,Sales Manager,2.0,1985-07-15,2024-11-01,1234 Elm St,Fairfax,VA,USA,22030,555-1234,555-5678,suddin@example.com
11,13,Uddin,Sheikh,Sales Manager,2.0,1985-07-15,2024-11-01,1234 Elm St,Fairfax,VA,USA,22030,555-1234,555-5678,suddin@example.com

# Step 6: Delete Records

In [ ]:
def delete_employee(conn, employee_id):
    try:
        query = "DELETE FROM employees WHERE EmployeeID = ?"
        conn.execute(query, (employee_id,))
        conn.commit()
        print(f"Employee ID {employee_id} deleted successfully!")
    except sqlite3.Error as e:
        print(f"Error deleting employee: {e}")

# Test: Delete the employee with ID 3
if conn:
    delete_employee(conn, 3)

Employee ID 3 deleted successfully!

# Step 7: Close the Connection

In [ ]:
# Close the database connection
if conn:
    conn.close()
    print("Database connection closed.")

Database connection closed.