<a href="https://colab.research.google.com/github/sheikh495/database/blob/main/M5_7_Assignment_Create_an_ERD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Option 1: Installing and Running MySQL Server in Google Colab

Step 1: Install MySQL Server
First, you'll need to install the MySQL server and related packages in your Colab environment.

In [ ]:
# Install MySQL Server
!apt-get update
!apt-get install -y mysql-server

# Install MySQL client
!apt-get install -y mysql-client

# Install MySQL Connector for Python
!pip install mysql-connector-python

Get:1 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Ign:5 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Get:6 https://r2u.stat.illinois.edu/ubuntu jammy Release [5,713 B]
Get:7 https://r2u.stat.illinois.edu/ubuntu jammy Release.gpg [793 B]
Get:8 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:9 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,159 kB]
Get:10 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [2,318 kB]
Hit:11 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:12 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:13 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:14 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:15 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [8,372 kB]
Get:16 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,590 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,447 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,596 kB]
Fetched 18.9 MB in 2s (8,284 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl libfcgi-bin libfcgi-perl
  libfcgi0ldbl libhtml-parser-perl libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2 libprotobuf-lite23
  liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils mysql-client-8.0 mysql-client-core-8.0
  mysql-server-8.0 mysql-server-core-8.0
Suggested packages:
  libdata-dump-perl libipc-sharedcache-perl libbusiness-isbn-perl libwww-perl mailx tinyca
The following NEW packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl libfcgi-bin libfcgi-perl
  libfcgi0ldbl libhtml-parser-perl libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2 libprotobuf-lite23
  liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils mysql-client-8.0 mysql-client-core-8.0
  mysql-server mysql-server-8.0 mysql-server-core-8.0
0 upgraded, 25 newly installed, 0 to remove and 54 not upgraded.
Need to get 29.6 MB of archives.
After this operation, 243 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-core-8.0 amd64 8.0.39-0ubuntu0.22.04.1 [2,762 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-8.0 amd64 8.0.39-0ubuntu0.22.04.1 [22.7 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libmecab2 amd64 0.996-14build9 [199 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libprotobuf-lite23 amd64 3.12.4-1ubuntu7.22.04.1 [209 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-core-8.0 amd64 8.0.39-0ubuntu0.22.04.1 [17.6 MB]
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-8.0 amd64 8.0.39-0ubuntu0.22.04.1 [1,437 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-tagset-perl all 3.20-4 [12.5 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy/main amd64 liburi-perl all 5.10-1 [78.8 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-parser-perl amd64 3.76-1build2 [88.4 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-pm-perl all 4.54-1 [188 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi0ldbl amd64 2.4.2-2build2 [28.0 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-perl amd64 0.82+ds-1build1 [22.8 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-fast-perl all 1:2.15-1 [10.5 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy/main amd64 libclone-perl amd64 0.45-1build3 [11.0 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy/main amd64 libencode-locale-perl all 1.05-1.1 [11.8 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-bin amd64 2.4.2-2build2 [11.2 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-template-perl all 2.97-1.1 [59.1 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-date-perl all 6.05-1 [9,920 B]
Get:19 http://archive.ubuntu.com/ubuntu jammy/main amd64 libio-html-perl all 1.004-2 [15.4 kB]
Get:20 http://archive.ubuntu.com/ubuntu jammy/main amd64 liblwp-mediatypes-perl all 6.04-1 [19.5 kB]
Get:21 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-message-perl all 6.36-1 [76.8 kB]
Get:22 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-utils amd64 0.996-14build9 [4,850 B]
Get:23 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic all 2.7.0-20070801+main-3 [6,718 kB]
Get:24 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic-utf8 all 2.7.0-20070801+main-3 [4,384 B]
Get:25 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server all 8.0.39-0ubuntu0.22.04.1 [9,468 B]
Fetched 29.6 MB in 0s (60.2 MB/s)
Preconfiguring packages ...
Selecting previously unselected package mysql-client-core-8.0.
(Reading database ... 123620 files and directories currently installed.)
Preparing to unpack .../00-mysql-client-core-8.0_8.0.39-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-client-core-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Selecting previously unselected package mysql-client-8.0.
Preparing to unpack .../01-mysql-client-8.0_8.0.39-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-client-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Selecting previously unselected package libmecab2:amd64.
Preparing to unpack .../02-libmecab2_0.996-14build9_amd64.deb ...
Unpacking libmecab2:amd64 (0.996-14build9) ...
Selecting previously unselected package libprotobuf-lite23:amd64.
Preparing to unpack .../03-libprotobuf-lite23_3.12.4-1ubuntu7.22.04.1_amd64.deb ...
Unpacking libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.1) ...
Selecting previously unselected package mysql-server-core-8.0.
Preparing to unpack .../04-mysql-server-core-8.0_8.0.39-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-server-core-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Selecting previously unselected package mysql-server-8.0.
Preparing to unpack .../05-mysql-server-8.0_8.0.39-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-server-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Selecting previously unselected package libhtml-tagset-perl.
Preparing to unpack .../06-libhtml-tagset-perl_3.20-4_all.deb ...
Unpacking libhtml-tagset-perl (3.20-4) ...
Selecting previously unselected package liburi-perl.
Preparing to unpack .../07-liburi-perl_5.10-1_all.deb ...
Unpacking liburi-perl (5.10-1) ...
Selecting previously unselected package libhtml-parser-perl:amd64.
Preparing to unpack .../08-libhtml-parser-perl_3.76-1build2_amd64.deb ...
Unpacking libhtml-parser-perl:amd64 (3.76-1build2) ...
Selecting previously unselected package libcgi-pm-perl.
Preparing to unpack .../09-libcgi-pm-perl_4.54-1_all.deb ...
Unpacking libcgi-pm-perl (4.54-1) ...
Selecting previously unselected package libfcgi0ldbl:amd64.
Preparing to unpack .../10-libfcgi0ldbl_2.4.2-2build2_amd64.deb ...
Unpacking libfcgi0ldbl:amd64 (2.4.2-2build2) ...
Selecting previously unselected package libfcgi-perl:amd64.
Preparing to unpack .../11-libfcgi-perl_0.82+ds-1build1_amd64.deb ...
Unpacking libfcgi-perl:amd64 (0.82+ds-1build1) ...
Selecting previously unselected package libcgi-fast-perl.
Preparing to unpack .../12-libcgi-fast-perl_1%3a2.15-1_all.deb ...
Unpacking libcgi-fast-perl (1:2.15-1) ...
Selecting previously unselected package libclone-perl.
Preparing to unpack .../13-libclone-perl_0.45-1build3_amd64.deb ...
Unpacking libclone-perl (0.45-1build3) ...
Selecting previously unselected package libencode-locale-perl.
Preparing to unpack .../14-libencode-locale-perl_1.05-1.1_all.deb ...
Unpacking libencode-locale-perl (1.05-1.1) ...
Selecting previously unselected package libfcgi-bin.
Preparing to unpack .../15-libfcgi-bin_2.4.2-2build2_amd64.deb ...
Unpacking libfcgi-bin (2.4.2-2build2) ...
Selecting previously unselected package libhtml-template-perl.
Preparing to unpack .../16-libhtml-template-perl_2.97-1.1_all.deb ...
Unpacking libhtml-template-perl (2.97-1.1) ...
Selecting previously unselected package libhttp-date-perl.
Preparing to unpack .../17-libhttp-date-perl_6.05-1_all.deb ...
Unpacking libhttp-date-perl (6.05-1) ...
Selecting previously unselected package libio-html-perl.
Preparing to unpack .../18-libio-html-perl_1.004-2_all.deb ...
Unpacking libio-html-perl (1.004-2) ...
Selecting previously unselected package liblwp-mediatypes-perl.
Preparing to unpack .../19-liblwp-mediatypes-perl_6.04-1_all.deb ...
Unpacking liblwp-mediatypes-perl (6.04-1) ...
Selecting previously unselected package libhttp-message-perl.
Preparing to unpack .../20-libhttp-message-perl_6.36-1_all.deb ...
Unpacking libhttp-message-perl (6.36-1) ...
Selecting previously unselected package mecab-utils.
Preparing to unpack .../21-mecab-utils_0.996-14build9_amd64.deb ...
Unpacking mecab-utils (0.996-14build9) ...
Selecting previously unselected package mecab-ipadic.
Preparing to unpack .../22-mecab-ipadic_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic (2.7.0-20070801+main-3) ...
Selecting previously unselected package mecab-ipadic-utf8.
Preparing to unpack .../23-mecab-ipadic-utf8_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Selecting previously unselected package mysql-server.
Preparing to unpack .../24-mysql-server_8.0.39-0ubuntu0.22.04.1_all.deb ...
Unpacking mysql-server (8.0.39-0ubuntu0.22.04.1) ...
Setting up libhttp-date-perl (6.05-1) ...
Setting up libmecab2:amd64 (0.996-14build9) ...
Setting up mysql-client-core-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Setting up libfcgi0ldbl:amd64 (2.4.2-2build2) ...
Setting up libclone-perl (0.45-1build3) ...
Setting up libhtml-tagset-perl (3.20-4) ...
Setting up liblwp-mediatypes-perl (6.04-1) ...
Setting up libfcgi-bin (2.4.2-2build2) ...
Setting up libencode-locale-perl (1.05-1.1) ...
Setting up libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.1) ...
Setting up mecab-utils (0.996-14build9) ...
Setting up libio-html-perl (1.004-2) ...
Setting up mysql-server-core-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Setting up mysql-client-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Setting up libfcgi-perl:amd64 (0.82+ds-1build1) ...
Setting up liburi-perl (5.10-1) ...
Setting up libhttp-message-perl (6.36-1) ...
Setting up mysql-server-8.0 (8.0.39-0ubuntu0.22.04.1) ...
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of stop.
update-alternatives: using /etc/mysql/mysql.cnf to provide /etc/mysql/my.cnf (my.cnf) in auto mode
Renaming removed key_buffer and myisam-recover options (if present)
mysqld will log errors to /var/log/mysql/error.log
mysqld is running as pid 3769
Created symlink /etc/systemd/system/multi-user.target.wants/mysql.service → /lib/systemd/system/mysql.service.
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up mecab-ipadic (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic-utf8 to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up libhtml-parser-perl:amd64 (3.76-1build2) ...
Setting up mysql-server (8.0.39-0ubuntu0.22.04.1) ...
Setting up libcgi-pm-perl (4.54-1) ...
Setting up libhtml-template-perl (2.97-1.1) ...
Setting up libcgi-fast-perl (1:2.15-1) ...
Processing triggers for man-db (2.10.2-1) ...
Processing triggers for libc-bin (2.35-0ubuntu3.4) ...
/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_opencl.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_loader.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following NEW packages will be installed:
  mysql-client
0 upgraded, 1 newly installed, 0 to remove and 54 not upgraded.
Need to get 9,356 B of archives.
After this operation, 35.8 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client all 8.0.39-0ubuntu0.22.04.1 [9,356 B]
Fetched 9,356 B in 0s (231 kB/s)
Selecting previously unselected package mysql-client.
(Reading database ... 124152 files and directories currently installed.)
Preparing to unpack .../mysql-client_8.0.39-0ubuntu0.22.04.1_all.deb ...
Unpacking mysql-client (8.0.39-0ubuntu0.22.04.1) ...
Setting up mysql-client (8.0.39-0ubuntu0.22.04.1) ...
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (9.0.0)

Step 2: Start MySQL Server
After installation, start the MySQL server.

In [ ]:
# Start the MySQL service
!service mysql start

 * Starting MySQL database server mysqld
su: warning: cannot change directory to /nonexistent: No such file or directory
   ...done.

Step 3: Secure MySQL Installation
Set a root password and secure your MySQL installation. This step is optional but recommended.

In [ ]:
# Set the MySQL root password
import os

# Set the root password (replace 'yourpassword' with a secure password)
root_password = "yourpassword"

# Configure MySQL to allow root login without password temporarily
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY '{root_password}'; FLUSH PRIVILEGES;"

# Verify MySQL is running
!service mysql status

 * /usr/bin/mysqladmin  Ver 8.0.39-0ubuntu0.22.04.1 for Linux on x86_64 ((Ubuntu))
Copyright (c) 2000, 2024, Oracle and/or its affiliates.

Oracle is a registered trademark of Oracle Corporation and/or its
affiliates. Other names may be trademarks of their respective
owners.

Server version		8.0.39-0ubuntu0.22.04.1
Protocol version	10
Connection		Localhost via UNIX socket
UNIX socket		/var/run/mysqld/mysqld.sock
Uptime:			2 sec

Threads: 2  Questions: 12  Slow queries: 0  Opens: 130  Flush tables: 3  Open tables: 49  Queries per second avg: 6.000

Step 4: Create Database and Tables
Now, create your database and tables as per your assignment requirements.

In [ ]:
import mysql.connector
from mysql.connector import errorcode

# Database connection details
config = {
    'user': 'root',
    'password': root_password,
    'host': '127.0.0.1',
    'database': 'OnlineRetailStore',
    'raise_on_warnings': True
}

try:
    # Connect to MySQL
    cnx = mysql.connector.connect(**config)
    cursor = cnx.cursor()

    # Create Database
    cursor.execute("CREATE DATABASE IF NOT EXISTS OnlineRetailStore")
    cursor.execute("USE OnlineRetailStore")

    # Create Customers table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS Customers (
        CustomerID INT PRIMARY KEY AUTO_INCREMENT,
        FirstName VARCHAR(50) NOT NULL,
        LastName VARCHAR(50) NOT NULL,
        Email VARCHAR(100) NOT NULL UNIQUE,
        RegistrationDate DATE NOT NULL
    )
    ''')

    # Create Products table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS Products (
        ProductID INT PRIMARY KEY AUTO_INCREMENT,
        ProductName VARCHAR(100) NOT NULL,
        Price DECIMAL(10, 2) NOT NULL,
        StockQuantity INT NOT NULL
    )
    ''')

    # Create Orders table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS Orders (
        OrderID INT PRIMARY KEY AUTO_INCREMENT,
        OrderDate DATETIME NOT NULL,
        CustomerID INT,
        TotalAmount DECIMAL(10, 2) NOT NULL,
        FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID) ON DELETE CASCADE
    )
    ''')

    # Create OrderDetails table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS OrderDetails (
        OrderID INT,
        ProductID INT,
        Quantity INT NOT NULL,
        UnitPrice DECIMAL(10, 2) NOT NULL,
        PRIMARY KEY (OrderID, ProductID),
        FOREIGN KEY (OrderID) REFERENCES Orders(OrderID) ON DELETE CASCADE,
        FOREIGN KEY (ProductID) REFERENCES Products(ProductID) ON DELETE CASCADE
    )
    ''')

    cnx.commit()
    print("Database and tables created successfully.")

except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Something is wrong with your user name or password.")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist.")
    else:
        print(err)
finally:
    cursor.close()
    cnx.close()

Database does not exist.

NameError: name 'cursor' is not defined

Step 5: Insert Sample Data
Populate your tables with sample data to test the setup.

In [ ]:
try:
    # Reconnect to MySQL
    cnx = mysql.connector.connect(**config)
    cursor = cnx.cursor()

    # Insert sample customers
    cursor.execute('''
    INSERT INTO Customers (FirstName, LastName, Email, RegistrationDate)
    VALUES
    ('John', 'Doe', 'john.doe@example.com', '2024-10-01'),
    ('Jane', 'Smith', 'jane.smith@example.com', '2024-09-25')
    ''')

    # Insert sample products
    cursor.execute('''
    INSERT INTO Products (ProductName, Price, StockQuantity)
    VALUES
    ('Laptop', 999.99, 50),
    ('Smartphone', 499.99, 100),
    ('Headphones', 149.99, 200)
    ''')

    # Insert sample orders
    cursor.execute('''
    INSERT INTO Orders (OrderDate, CustomerID, TotalAmount)
    VALUES
    ('2024-10-02 14:30:00', 1, 1149.98),
    ('2024-10-03 10:00:00', 2, 499.99)
    ''')

    # Insert into OrderDetails (junction table)
    cursor.execute('''
    INSERT INTO OrderDetails (OrderID, ProductID, Quantity, UnitPrice)
    VALUES
    (1, 1, 1, 999.99),
    (1, 3, 1, 149.99),
    (2, 2, 1, 499.99)
    ''')

    cnx.commit()
    print("Sample data inserted successfully.")

except mysql.connector.Error as err:
    print(err)
finally:
    cursor.close()
    cnx.close()

Step 6: Query Data
Retrieve and display data to ensure everything is set up correctly.

In [ ]:
try:
    # Reconnect to MySQL
    cnx = mysql.connector.connect(**config)
    cursor = cnx.cursor()

    # Fetch all orders with customer details
    cursor.execute('''
    SELECT o.OrderID, c.FirstName, c.LastName, o.OrderDate, o.TotalAmount
    FROM Orders o
    JOIN Customers c ON o.CustomerID = c.CustomerID
    ''')

    orders = cursor.fetchall()
    print("Orders with Customer Details:")
    for order in orders:
        print(order)

    # Retrieve products in a specific order (e.g., OrderID = 1)
    cursor.execute('''
    SELECT p.ProductName, od.Quantity, od.UnitPrice
    FROM OrderDetails od
    JOIN Products p ON od.ProductID = p.ProductID
    WHERE od.OrderID = 1
    ''')

    products_in_order = cursor.fetchall()
    print("\nProducts in Order ID 1:")
    for product in products_in_order:
        print(product)

except mysql.connector.Error as err:
    print(err)
finally:
    cursor.close()
    cnx.close()

Step 7: Visualize the ERD
While MySQL doesn't provide built-in ERD visualization, you can use tools like MySQL Workbench or Lucidchart to create your ERD based on the tables and relationships you've defined.

Alternatively, you can use Python libraries to visualize the schema. Here's an example using sqlalchemy and eralchemy:

In [ ]:
# Install necessary libraries
!pip install sqlalchemy
!pip install eralchemy

# Generate ERD
!eralchemy -i mysql+mysqlconnector://root:yourpassword@127.0.0.1/OnlineRetailStore -o erd.png

# Display the ERD
from IPython.display import Image
Image(filename='erd.png')

#Step-by-Step: MySQL Setup in Google Colab

Step 1: Install MySQL and Dependencies
Run the following code in Colab to install MySQL and required dependencies:

In [ ]:
# Install MySQL Server
!apt-get update > /dev/null
!apt-get install -y mysql-server > /dev/null

# Install MySQL client
!apt-get install -y mysql-client > /dev/null

# Install MySQL Connector for Python
!pip install mysql-connector-python

W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (9.0.0)

Step 2: Start MySQL Service
After the installation, you need to start the MySQL server. Execute this command to start the MySQL service within the Colab session:

In [ ]:
# Start the MySQL service
!service mysql start

 * Starting MySQL database server mysqld
   ...done.

Step 3: Set Up MySQL Root User
MySQL installation in Colab doesn’t have a password for the root user by default. You can set the root password and then use that for your operations:

In [ ]:
# Set the MySQL root password
import os

# Define the root password (replace 'yourpassword' with a secure password)
root_password = 'root_password'

# Update the MySQL root password
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY '{root_password}'; FLUSH PRIVILEGES;"

# Verify MySQL is running
!service mysql status

ERROR 1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)
 * /usr/bin/mysqladmin  Ver 8.0.39-0ubuntu0.22.04.1 for Linux on x86_64 ((Ubuntu))
Copyright (c) 2000, 2024, Oracle and/or its affiliates.

Oracle is a registered trademark of Oracle Corporation and/or its
affiliates. Other names may be trademarks of their respective
owners.

Server version		8.0.39-0ubuntu0.22.04.1
Protocol version	10
Connection		Localhost via UNIX socket
UNIX socket		/var/run/mysqld/mysqld.sock
Uptime:			10 min 9 sec

Threads: 2  Questions: 22  Slow queries: 0  Opens: 132  Flush tables: 3  Open tables: 51  Queries per second avg: 0.036

Step 4: Create Database and Tables
You are now ready to create a database and tables using Python. First, connect to MySQL and then run the required SQL commands.

In [ ]:
import mysql.connector
from mysql.connector import errorcode

# Database connection configuration
config = {
    'user': 'root',
    'password': root_password,
    'host': '127.0.0.1',
    'database': 'OnlineRetailStore',
    'raise_on_warnings': True
}

try:
    # Connect to MySQL
    cnx = mysql.connector.connect(**config)
    cursor = cnx.cursor()

    # Create Database
    cursor.execute("CREATE DATABASE IF NOT EXISTS OnlineRetailStore")
    cursor.execute("USE OnlineRetailStore")

    # Create Customers table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS Customers (
        CustomerID INT PRIMARY KEY AUTO_INCREMENT,
        FirstName VARCHAR(50) NOT NULL,
        LastName VARCHAR(50) NOT NULL,
        Email VARCHAR(100) NOT NULL UNIQUE,
        RegistrationDate DATE NOT NULL
    )
    ''')

    # Create Products table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS Products (
        ProductID INT PRIMARY KEY AUTO_INCREMENT,
        ProductName VARCHAR(100) NOT NULL,
        Price DECIMAL(10, 2) NOT NULL,
        StockQuantity INT NOT NULL
    )
    ''')

    # Create Orders table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS Orders (
        OrderID INT PRIMARY KEY AUTO_INCREMENT,
        OrderDate DATETIME NOT NULL,
        CustomerID INT,
        TotalAmount DECIMAL(10, 2) NOT NULL,
        FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID) ON DELETE CASCADE
    )
    ''')

    # Create OrderDetails table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS OrderDetails (
        OrderID INT,
        ProductID INT,
        Quantity INT NOT NULL,
        UnitPrice DECIMAL(10, 2) NOT NULL,
        PRIMARY KEY (OrderID, ProductID),
        FOREIGN KEY (OrderID) REFERENCES Orders(OrderID) ON DELETE CASCADE,
        FOREIGN KEY (ProductID) REFERENCES Products(ProductID) ON DELETE CASCADE
    )
    ''')

    cnx.commit()
    print("Database and tables created successfully.")

except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Access denied: Something is wrong with your user name or password.")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist.")
    else:
        print(err)
finally:
    cursor.close()
    cnx.close()

Database does not exist.

NameError: name 'cursor' is not defined

Step 5: Insert Sample Data
You can now populate the database with some sample data.

In [ ]:
try:
    # Reconnect to MySQL
    cnx = mysql.connector.connect(**config)
    cursor = cnx.cursor()

    # Insert sample customers
    cursor.execute('''
    INSERT INTO Customers (FirstName, LastName, Email, RegistrationDate)
    VALUES
    ('John', 'Doe', 'john.doe@example.com', '2024-10-01'),
    ('Jane', 'Smith', 'jane.smith@example.com', '2024-09-25')
    ''')

    # Insert sample products
    cursor.execute('''
    INSERT INTO Products (ProductName, Price, StockQuantity)
    VALUES
    ('Laptop', 999.99, 50),
    ('Smartphone', 499.99, 100),
    ('Headphones', 149.99, 200)
    ''')

    # Insert sample orders
    cursor.execute('''
    INSERT INTO Orders (OrderDate, CustomerID, TotalAmount)
    VALUES
    ('2024-10-02 14:30:00', 1, 1149.98),
    ('2024-10-03 10:00:00', 2, 499.99)
    ''')

    # Insert into OrderDetails (junction table)
    cursor.execute('''
    INSERT INTO OrderDetails (OrderID, ProductID, Quantity, UnitPrice)
    VALUES
    (1, 1, 1, 999.99),
    (1, 3, 1, 149.99),
    (2, 2, 1, 499.99)
    ''')

    cnx.commit()
    print("Sample data inserted successfully.")

except mysql.connector.Error as err:
    print(err)
finally:
    cursor.close()
    cnx.close()

Step 6: Query the Data
You can query your tables to retrieve and display data to ensure everything is working correctly.

In [ ]:
try:
    # Reconnect to MySQL
    cnx = mysql.connector.connect(**config)
    cursor = cnx.cursor()

    # Fetch all orders with customer details
    cursor.execute('''
    SELECT o.OrderID, c.FirstName, c.LastName, o.OrderDate, o.TotalAmount
    FROM Orders o
    JOIN Customers c ON o.CustomerID = c.CustomerID
    ''')

    orders = cursor.fetchall()
    print("Orders with Customer Details:")
    for order in orders:
        print(order)

    # Retrieve products in a specific order (e.g., OrderID = 1)
    cursor.execute('''
    SELECT p.ProductName, od.Quantity, od.UnitPrice
    FROM OrderDetails od
    JOIN Products p ON od.ProductID = p.ProductID
    WHERE od.OrderID = 1
    ''')

    products_in_order = cursor.fetchall()
    print("\nProducts in Order ID 1:")
    for product in products_in_order:
        print(product)

except mysql.connector.Error as err:
    print(err)
finally:
    cursor.close()
    cnx.close()

I'm sorry to hear you're encountering issues while setting up MySQL in Google Colab. The error message:

```
ERROR 1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)
```

indicates that the MySQL server is rejecting the connection attempt because it requires a password for the `root` user, and no password was provided. This typically happens if the `root` user's password wasn't set correctly or if the connection attempt doesn't include the necessary credentials.

Let's walk through a comprehensive step-by-step guide to **install, configure, and connect to a MySQL server within Google Colab**. We'll ensure that the `root` password is set properly and that you can connect to the server without issues.

---

## **Step-by-Step Guide: Setting Up MySQL in Google Colab**

### **Step 1: Install MySQL Server and Client**

First, you need to install the MySQL server and client, along with the Python connector to interact with MySQL.

```python
# Install MySQL Server and Client
!apt-get update -qq
!apt-get install -y mysql-server mysql-client

# Install MySQL Connector for Python
!pip install mysql-connector-python
```

**Explanation:**

- `apt-get update -qq`: Updates the package lists quietly.
- `apt-get install -y mysql-server mysql-client`: Installs MySQL server and client without prompting for confirmation (`-y` flag).
- `pip install mysql-connector-python`: Installs the MySQL connector for Python to allow Python scripts to interact with MySQL.

---

### **Step 2: Start the MySQL Service**

After installation, you need to start the MySQL service to make it operational.

```python
# Start the MySQL service
!service mysql start
```

**Explanation:**

- `service mysql start`: Initiates the MySQL server, making it ready to accept connections.

---

### **Step 3: Secure MySQL Installation and Set Root Password**

By default, MySQL's `root` user may not have a password set, or it might use the `auth_socket` plugin, which allows login without a password through the local Unix socket. To ensure secure and consistent access, we'll set a password for the `root` user and switch its authentication method.

**Important:** Replace `'YourSecurePassword'` with a strong password of your choice.

```python
import os

# Define your desired root password
root_password = 'YourSecurePassword'  # Replace with a strong password

# Set the root password and switch authentication method
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY '{root_password}'; FLUSH PRIVILEGES;"
```

**Explanation:**

- `ALTER USER`: Changes the authentication method and sets the password for the `root` user.
- `'mysql_native_password'`: Ensures that MySQL uses the native password authentication method, which is compatible with most connectors.
- `FLUSH PRIVILEGES;`: Reloads the privilege tables to ensure that all changes take effect immediately.

**Note:** Ensure that the `root_password` variable is securely stored and **never** share it publicly.

---

### **Step 4: Verify Root Password Setup**

Before proceeding, it's crucial to verify that the `root` password has been set correctly.

```python
# Test the root password by fetching the MySQL version
!mysql -u root -p'{root_password}' -e "SELECT VERSION();"
```

**Explanation:**

- `-u root`: Specifies the `root` user.
- `-p'{root_password}'`: Provides the `root` user's password. Ensure you include the password within the single quotes.
- `-e "SELECT VERSION();": Executes a simple query to fetch the MySQL version, confirming that the connection is successful.

**Expected Output:**

If the password is set correctly, you should see output similar to:

```
+-----------+
| VERSION() |
+-----------+
| 8.0.39    |
+-----------+
```

If you encounter an error, double-check that:

1. The `root_password` variable matches the password you set.
2. The `ALTER USER` command was executed without errors.

---

### **Step 5: Create Database and Tables**

Now, let's create the `OnlineRetailStore` database and define the necessary tables: `Customers`, `Products`, `Orders`, and `OrderDetails`.

```python
import mysql.connector
from mysql.connector import errorcode

# Database connection configuration
config = {
    'user': 'root',
    'password': root_password,
    'host': '127.0.0.1',
    'raise_on_warnings': True
}

try:
    # Establish connection to MySQL server
    cnx = mysql.connector.connect(**config)
    cursor = cnx.cursor()

    # Create Database
    cursor.execute("CREATE DATABASE IF NOT EXISTS OnlineRetailStore")
    cursor.execute("USE OnlineRetailStore")

    # Create Customers table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS Customers (
        CustomerID INT PRIMARY KEY AUTO_INCREMENT,
        FirstName VARCHAR(50) NOT NULL,
        LastName VARCHAR(50) NOT NULL,
        Email VARCHAR(100) NOT NULL UNIQUE,
        RegistrationDate DATE NOT NULL
    )
    ''')

    # Create Products table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS Products (
        ProductID INT PRIMARY KEY AUTO_INCREMENT,
        ProductName VARCHAR(100) NOT NULL,
        Price DECIMAL(10, 2) NOT NULL,
        StockQuantity INT NOT NULL
    )
    ''')

    # Create Orders table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS Orders (
        OrderID INT PRIMARY KEY AUTO_INCREMENT,
        OrderDate DATETIME NOT NULL,
        CustomerID INT,
        TotalAmount DECIMAL(10, 2) NOT NULL,
        FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID) ON DELETE CASCADE
    )
    ''')

    # Create OrderDetails table (Junction Table for Many-to-Many relationship)
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS OrderDetails (
        OrderID INT,
        ProductID INT,
        Quantity INT NOT NULL,
        UnitPrice DECIMAL(10, 2) NOT NULL,
        PRIMARY KEY (OrderID, ProductID),
        FOREIGN KEY (OrderID) REFERENCES Orders(OrderID) ON DELETE CASCADE,
        FOREIGN KEY (ProductID) REFERENCES Products(ProductID) ON DELETE CASCADE
    )
    ''')

    # Commit the changes
    cnx.commit()
    print("Database and tables created successfully.")

except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Access denied: Check your username or password.")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist.")
    else:
        print(err)
finally:
    cursor.close()
    cnx.close()
```

**Explanation:**

- **Database Creation:**
  - `CREATE DATABASE IF NOT EXISTS OnlineRetailStore`: Creates the `OnlineRetailStore` database if it doesn't already exist.
  - `USE OnlineRetailStore`: Selects the newly created database for subsequent operations.

- **Table Definitions:**
  - **Customers:**
    - `CustomerID`: Primary key with auto-increment.
    - `FirstName`, `LastName`, `Email`, `RegistrationDate`: Essential customer details.
  - **Products:**
    - `ProductID`: Primary key with auto-increment.
    - `ProductName`, `Price`, `StockQuantity`: Product details.
  - **Orders:**
    - `OrderID`: Primary key with auto-increment.
    - `OrderDate`, `CustomerID`, `TotalAmount`: Order details.
    - `FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID) ON DELETE CASCADE`: Establishes a relationship with the `Customers` table, ensuring that if a customer is deleted, their orders are also removed.
  - **OrderDetails:**
    - `OrderID`, `ProductID`: Composite primary key to handle the many-to-many relationship between orders and products.
    - `Quantity`, `UnitPrice`: Details about each product in an order.
    - `FOREIGN KEY` constraints link to `Orders` and `Products` tables, ensuring referential integrity.

---

### **Step 6: Insert Sample Data**

Populate the tables with sample data to test the setup.

```python
try:
    # Reconnect to MySQL and select the database
    cnx = mysql.connector.connect(**config, database='OnlineRetailStore')
    cursor = cnx.cursor()

    # Insert sample customers
    cursor.execute('''
    INSERT INTO Customers (FirstName, LastName, Email, RegistrationDate)
    VALUES
    ('John', 'Doe', 'john.doe@example.com', '2024-10-01'),
    ('Jane', 'Smith', 'jane.smith@example.com', '2024-09-25')
    ''')

    # Insert sample products
    cursor.execute('''
    INSERT INTO Products (ProductName, Price, StockQuantity)
    VALUES
    ('Laptop', 999.99, 50),
    ('Smartphone', 499.99, 100),
    ('Headphones', 149.99, 200)
    ''')

    # Insert sample orders
    cursor.execute('''
    INSERT INTO Orders (OrderDate, CustomerID, TotalAmount)
    VALUES
    ('2024-10-02 14:30:00', 1, 1149.98),
    ('2024-10-03 10:00:00', 2, 499.99)
    ''')

    # Insert into OrderDetails (junction table)
    cursor.execute('''
    INSERT INTO OrderDetails (OrderID, ProductID, Quantity, UnitPrice)
    VALUES
    (1, 1, 1, 999.99),
    (1, 3, 1, 149.99),
    (2, 2, 1, 499.99)
    ''')

    # Commit the changes
    cnx.commit()
    print("Sample data inserted successfully.")

except mysql.connector.Error as err:
    print(err)
finally:
    cursor.close()
    cnx.close()
```

**Explanation:**

- **Customers:**
  - Adds two customers: John Doe and Jane Smith.
- **Products:**
  - Adds three products: Laptop, Smartphone, and Headphones.
- **Orders:**
  - Creates two orders: one by John for a Laptop and Headphones, and another by Jane for a Smartphone.
- **OrderDetails:**
  - Links orders to products, specifying the quantity and unit price for each product in an order.

**Note:** If you run this cell multiple times, it will attempt to insert the same data again, potentially causing duplicate entries or violating unique constraints (like the `Email` field). To prevent this, you might want to clear the tables before inserting or handle duplicates appropriately.

---

### **Step 7: Query the Data**

Retrieve and display data to ensure that everything is set up correctly.

```python
try:
    # Reconnect to MySQL and select the database
    cnx = mysql.connector.connect(**config, database='OnlineRetailStore')
    cursor = cnx.cursor()

    # Fetch all orders with customer details
    cursor.execute('''
    SELECT o.OrderID, c.FirstName, c.LastName, o.OrderDate, o.TotalAmount
    FROM Orders o
    JOIN Customers c ON o.CustomerID = c.CustomerID
    ''')

    orders = cursor.fetchall()
    print("Orders with Customer Details:")
    for order in orders:
        print(order)

    # Retrieve products in a specific order (e.g., OrderID = 1)
    cursor.execute('''
    SELECT p.ProductName, od.Quantity, od.UnitPrice
    FROM OrderDetails od
    JOIN Products p ON od.ProductID = p.ProductID
    WHERE od.OrderID = 1
    ''')

    products_in_order = cursor.fetchall()
    print("\nProducts in Order ID 1:")
    for product in products_in_order:
        print(product)

except mysql.connector.Error as err:
    print(err)
finally:
    cursor.close()
    cnx.close()
```

**Expected Output:**

```
Orders with Customer Details:
(1, 'John', 'Doe', '2024-10-02 14:30:00', Decimal('1149.98'))
(2, 'Jane', 'Smith', '2024-10-03 10:00:00', Decimal('499.99'))

Products in Order ID 1:
('Laptop', 1, Decimal('999.99'))
('Headphones', 1, Decimal('149.99'))
```

**Explanation:**

- **Orders with Customer Details:**
  - Displays each order along with the customer's first and last name, order date, and total amount.
  
- **Products in Order ID 1:**
  - Lists the products included in the first order, specifying the product name, quantity ordered, and unit price.

---

### **Additional Tips and Troubleshooting**

1. **Ensure Correct Password Usage:**

   - When setting the `root` password, make sure you **replace** `'YourSecurePassword'` with an actual secure password.
   - Ensure that the password does not contain special characters that might interfere with the shell command. If it does, consider enclosing it in double quotes or escaping special characters.

2. **Verify Password Setup:**

   - After setting the password, use the following command to verify the connection:
   
     ```python
     # Test connection with the root password
     !mysql -u root -p'{root_password}' -e "SELECT VERSION();"
     ```
   
   - Replace `{root_password}` with your actual password. If the connection is successful, it will display the MySQL version.

3. **Handling Errors:**

   - **Access Denied Errors:** Ensure that the `root` password is correctly set and that you're using it when connecting.
   - **Database Does Not Exist:** Make sure the `CREATE DATABASE` command was executed successfully before attempting to use the database.
   - **Duplicate Entries:** If you rerun the data insertion cells, you might encounter errors due to duplicate entries (e.g., duplicate emails). Consider adding `ON DUPLICATE KEY UPDATE` clauses or clearing the tables before inserting.

4. **Persistence in Colab:**

   - Remember that Google Colab environments are **ephemeral**. This means that any data, installations, or configurations will be lost once the session ends. For persistent storage, consider exporting your data or using external databases.

5. **Security Considerations:**

   - **Never** share your notebooks publicly if they contain sensitive information like database passwords.
   - Consider using environment variables or other secure methods to handle sensitive credentials if you plan to share your notebooks.

6. **Alternative: Create a Dedicated MySQL User**

   - Instead of using the `root` user, it's a good practice to create a dedicated MySQL user with specific privileges. Here's how you can do it:

     ```python
     # Define new user credentials
     new_user = 'sheikh'
     new_password = 'UserSecurePassword'  # Replace with a strong password

     # Create a new user and grant privileges
     !mysql -u root -p'{root_password}' -e "CREATE USER '{new_user}'@'localhost' IDENTIFIED BY '{new_password}';"
     !mysql -u root -p'{root_password}' -e "GRANT ALL PRIVILEGES ON OnlineRetailStore.* TO '{new_user}'@'localhost'; FLUSH PRIVILEGES;"
     ```

   - Update your `config` dictionary to use the new user:

     ```python
     config = {
         'user': 'sheikh',
         'password': 'UserSecurePassword',  # Replace with the new user's password
         'host': '127.0.0.1',
         'database': 'OnlineRetailStore',
         'raise_on_warnings': True
     }
     ```

   - This approach enhances security by avoiding the use of the `root` user for routine database operations.

---

## **Complete Example in Google Colab**

To ensure everything works seamlessly, here's a consolidated version of all the steps. **Remember to replace `'YourSecurePassword'` and `'UserSecurePassword'` with your actual secure passwords.**

```python
# Step 1: Install MySQL Server and Client
!apt-get update -qq
!apt-get install -y mysql-server mysql-client
!pip install mysql-connector-python

# Step 2: Start the MySQL service
!service mysql start

# Step 3: Set the MySQL root password
import os

# Define your desired root password
root_password = 'YourSecurePassword'  # Replace with a strong password

# Set the root password and switch authentication method
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY '{root_password}'; FLUSH PRIVILEGES;"

# Verify the root password setup
!mysql -u root -p'{root_password}' -e "SELECT VERSION();"

# Step 4: Create Database and Tables
import mysql.connector
from mysql.connector import errorcode

# Database connection configuration
config = {
    'user': 'root',
    'password': root_password,
    'host': '127.0.0.1',
    'raise_on_warnings': True
}

try:
    # Establish connection to MySQL server
    cnx = mysql.connector.connect(**config)
    cursor = cnx.cursor()

    # Create Database
    cursor.execute("CREATE DATABASE IF NOT EXISTS OnlineRetailStore")
    cursor.execute("USE OnlineRetailStore")

    # Create Customers table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS Customers (
        CustomerID INT PRIMARY KEY AUTO_INCREMENT,
        FirstName VARCHAR(50) NOT NULL,
        LastName VARCHAR(50) NOT NULL,
        Email VARCHAR(100) NOT NULL UNIQUE,
        RegistrationDate DATE NOT NULL
    )
    ''')

    # Create Products table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS Products (
        ProductID INT PRIMARY KEY AUTO_INCREMENT,
        ProductName VARCHAR(100) NOT NULL,
        Price DECIMAL(10, 2) NOT NULL,
        StockQuantity INT NOT NULL
    )
    ''')

    # Create Orders table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS Orders (
        OrderID INT PRIMARY KEY AUTO_INCREMENT,
        OrderDate DATETIME NOT NULL,
        CustomerID INT,
        TotalAmount DECIMAL(10, 2) NOT NULL,
        FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID) ON DELETE CASCADE
    )
    ''')

    # Create OrderDetails table (Junction Table for Many-to-Many relationship)
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS OrderDetails (
        OrderID INT,
        ProductID INT,
        Quantity INT NOT NULL,
        UnitPrice DECIMAL(10, 2) NOT NULL,
        PRIMARY KEY (OrderID, ProductID),
        FOREIGN KEY (OrderID) REFERENCES Orders(OrderID) ON DELETE CASCADE,
        FOREIGN KEY (ProductID) REFERENCES Products(ProductID) ON DELETE CASCADE
    )
    ''')

    # Commit the changes
    cnx.commit()
    print("Database and tables created successfully.")

except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Access denied: Check your username or password.")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist.")
    else:
        print(err)
finally:
    cursor.close()
    cnx.close()

# Step 5: Insert Sample Data
try:
    # Reconnect to MySQL and select the database
    cnx = mysql.connector.connect(**config, database='OnlineRetailStore')
    cursor = cnx.cursor()

    # Insert sample customers
    cursor.execute('''
    INSERT INTO Customers (FirstName, LastName, Email, RegistrationDate)
    VALUES
    ('John', 'Doe', 'john.doe@example.com', '2024-10-01'),
    ('Jane', 'Smith', 'jane.smith@example.com', '2024-09-25')
    ''')

    # Insert sample products
    cursor.execute('''
    INSERT INTO Products (ProductName, Price, StockQuantity)
    VALUES
    ('Laptop', 999.99, 50),
    ('Smartphone', 499.99, 100),
    ('Headphones', 149.99, 200)
    ''')

    # Insert sample orders
    cursor.execute('''
    INSERT INTO Orders (OrderDate, CustomerID, TotalAmount)
    VALUES
    ('2024-10-02 14:30:00', 1, 1149.98),
    ('2024-10-03 10:00:00', 2, 499.99)
    ''')

    # Insert into OrderDetails (junction table)
    cursor.execute('''
    INSERT INTO OrderDetails (OrderID, ProductID, Quantity, UnitPrice)
    VALUES
    (1, 1, 1, 999.99),
    (1, 3, 1, 149.99),
    (2, 2, 1, 499.99)
    ''')

    # Commit the changes
    cnx.commit()
    print("Sample data inserted successfully.")

except mysql.connector.Error as err:
    print(err)
finally:
    cursor.close()
    cnx.close()

# Step 6: Query the Data
try:
    # Reconnect to MySQL and select the database
    cnx = mysql.connector.connect(**config, database='OnlineRetailStore')
    cursor = cnx.cursor()

    # Fetch all orders with customer details
    cursor.execute('''
    SELECT o.OrderID, c.FirstName, c.LastName, o.OrderDate, o.TotalAmount
    FROM Orders o
    JOIN Customers c ON o.CustomerID = c.CustomerID
    ''')

    orders = cursor.fetchall()
    print("Orders with Customer Details:")
    for order in orders:
        print(order)

    # Retrieve products in a specific order (e.g., OrderID = 1)
    cursor.execute('''
    SELECT p.ProductName, od.Quantity, od.UnitPrice
    FROM OrderDetails od
    JOIN Products p ON od.ProductID = p.ProductID
    WHERE od.OrderID = 1
    ''')

    products_in_order = cursor.fetchall()
    print("\nProducts in Order ID 1:")
    for product in products_in_order:
        print(product)

except mysql.connector.Error as err:
    print(err)
finally:
    cursor.close()
    cnx.close()
```

**Explanation:**

1. **Installation and Setup:**
   - Installs MySQL server and client.
   - Starts the MySQL service.
   - Sets the `root` user's password and changes its authentication method to `mysql_native_password`.

2. **Verification:**
   - Tests the connection by fetching the MySQL version. This ensures that the `root` password is set correctly.

3. **Database and Tables Creation:**
   - Creates the `OnlineRetailStore` database.
   - Defines the `Customers`, `Products`, `Orders`, and `OrderDetails` tables with appropriate relationships and constraints.

4. **Data Insertion:**
   - Inserts sample data into each table to simulate a realistic scenario.

5. **Data Retrieval:**
   - Fetches and displays orders along with customer details.
   - Retrieves and displays products associated with a specific order.

---

## **Troubleshooting Common Issues**

### **1. Access Denied Errors**

**Error Message:**
```
ERROR 1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)
```

**Cause:**
Attempting to connect as `root` without providing the required password.

**Solution:**
Ensure that:
- You've set the `root` password correctly.
- You're providing the password when attempting to connect.

**Verification:**
Run the following command to test the connection:
```python
# Replace 'YourSecurePassword' with your actual root password
!mysql -u root -p'YourSecurePassword' -e "SELECT VERSION();"
```

If this command returns the MySQL version, your password is set correctly.

### **2. Password Not Set Correctly**

If you receive access denied errors even after setting the password, it's possible that the `ALTER USER` command didn't execute correctly.

**Solution:**
- Ensure that the `ALTER USER` command was executed without errors.
- Avoid using special characters in your password that might interfere with the shell command. If necessary, enclose the password in double quotes.

**Example:**
```python
root_password = 'YourSecurePassword'  # Use a password without special shell characters

!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY '{root_password}'; FLUSH PRIVILEGES;"
```

### **3. Persistent Setup Issues**

Since Google Colab environments are temporary, every time you start a new session, you'll need to reinstall and set up MySQL from scratch.

**Solution:**
- Consider automating the setup steps by placing all installation and configuration commands in the first few cells of your notebook.
- If your work is extensive, consider using a more persistent environment or an external cloud-based MySQL service.

### **4. Firewall and Network Issues (If Using External MySQL Server)**

If you opt to use an external MySQL server instead of running it within Colab:

**Cause:**
Network restrictions or firewall settings might block the connection from Colab to your MySQL server.

**Solution:**
- Ensure that your MySQL server allows connections from external IP addresses.
- Configure firewall rules to permit traffic on MySQL's default port (`3306`).
- Use secure methods like SSH tunneling to protect your database credentials and data.

**Recommendation:**
Running MySQL within Colab is simpler for testing and assignments. For production environments or persistent data storage, consider using managed database services like **Google Cloud SQL**, **Amazon RDS**, or **ClearDB**.

---

## **Final Remarks**

By following the above steps carefully, you should be able to set up and interact with a MySQL database within Google Colab successfully. Here's a quick recap:

1. **Install** MySQL server and client, and the Python connector.
2. **Start** the MySQL service.
3. **Set** and **verify** the `root` user's password.
4. **Create** the necessary database and tables.
5. **Insert** sample data.
6. **Query** the data to ensure everything works as expected.

If you continue to face issues, please provide the specific error messages or steps where you're encountering problems, and I'll be happy to assist further!

# v2 Step-by-Step Guide: Setting Up MySQL in Google Colab

Step 1: Install MySQL Server and Client
First, you need to install the MySQL server and client, along with the Python connector to interact with MySQL.

In [ ]:
# Install MySQL Server and Client
!apt-get update -qq
!apt-get install -y mysql-server mysql-client

# Install MySQL Connector for Python
!pip install mysql-connector-python

W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
mysql-client is already the newest version (8.0.39-0ubuntu0.22.04.1).
mysql-server is already the newest version (8.0.39-0ubuntu0.22.04.1).
0 upgraded, 0 newly installed, 0 to remove and 54 not upgraded.
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (9.0.0)

Explanation:

apt-get update -qq: Updates the package lists quietly.
apt-get install -y mysql-server mysql-client: Installs MySQL server and client without prompting for confirmation (-y flag).
pip install mysql-connector-python: Installs the MySQL connector for Python to allow Python scripts to interact with MySQL.

Step 2: Start the MySQL Service
After installation, you need to start the MySQL service to make it operational.

In [ ]:
# Start the MySQL service
!service mysql start

 * Starting MySQL database server mysqld
   ...done.

Explanation:

service mysql start: Initiates the MySQL server, making it ready to accept connections.

Step 3: Secure MySQL Installation and Set Root Password
By default, MySQL's root user may not have a password set, or it might use the auth_socket plugin, which allows login without a password through the local Unix socket. To ensure secure and consistent access, we'll set a password for the root user and switch its authentication method.

Important: Replace 'YourSecurePassword' with a strong password of your choice.

In [ ]:
import os

# Define your desired root password
root_password = 'YourSecurePassword'  # Replace with a strong password

# Set the root password and switch authentication method
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY '{root_password}'; FLUSH PRIVILEGES;"

ERROR 1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)

Explanation:

ALTER USER: Changes the authentication method and sets the password for the root user.
'mysql_native_password': Ensures that MySQL uses the native password authentication method, which is compatible with most connectors.
FLUSH PRIVILEGES;: Reloads the privilege tables to ensure that all changes take effect immediately.
Note: Ensure that the root_password variable is securely stored and never share it publicly.

Step 4: Verify Root Password Setup
Before proceeding, it's crucial to verify that the root password has been set correctly.

In [ ]:
# Test the root password by fetching the MySQL version
!mysql -u root -p'{root_password}' -e "SELECT VERSION();"

Explanation:

-u root: Specifies the root user.
-p'{root_password}': Provides the root user's password. Ensure you include the password within the single quotes.
`-e "SELECT VERSION();": Executes a simple query to fetch the MySQL version, confirming that the connection is successful.
Expected Output:

If the password is set correctly, you should see output similar to:

+-----------+
| VERSION() |
+-----------+
| 8.0.39    |
+-----------+

If you encounter an error, double-check that:

The root_password variable matches the password you set.
The ALTER USER command was executed without errors.

Step 5: Create Database and Tables
Now, let's create the OnlineRetailStore database and define the necessary tables: Customers, Products, Orders, and OrderDetails.

In [ ]:
import mysql.connector
from mysql.connector import errorcode

# Database connection configuration
config = {
    'user': 'root',
    'password': root_password,
    'host': '127.0.0.1',
    'raise_on_warnings': True
}

try:
    # Establish connection to MySQL server
    cnx = mysql.connector.connect(**config)
    cursor = cnx.cursor()

    # Create Database
    cursor.execute("CREATE DATABASE IF NOT EXISTS OnlineRetailStore")
    cursor.execute("USE OnlineRetailStore")

    # Create Customers table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS Customers (
        CustomerID INT PRIMARY KEY AUTO_INCREMENT,
        FirstName VARCHAR(50) NOT NULL,
        LastName VARCHAR(50) NOT NULL,
        Email VARCHAR(100) NOT NULL UNIQUE,
        RegistrationDate DATE NOT NULL
    )
    ''')

    # Create Products table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS Products (
        ProductID INT PRIMARY KEY AUTO_INCREMENT,
        ProductName VARCHAR(100) NOT NULL,
        Price DECIMAL(10, 2) NOT NULL,
        StockQuantity INT NOT NULL
    )
    ''')

    # Create Orders table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS Orders (
        OrderID INT PRIMARY KEY AUTO_INCREMENT,
        OrderDate DATETIME NOT NULL,
        CustomerID INT,
        TotalAmount DECIMAL(10, 2) NOT NULL,
        FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID) ON DELETE CASCADE
    )
    ''')

    # Create OrderDetails table (Junction Table for Many-to-Many relationship)
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS OrderDetails (
        OrderID INT,
        ProductID INT,
        Quantity INT NOT NULL,
        UnitPrice DECIMAL(10, 2) NOT NULL,
        PRIMARY KEY (OrderID, ProductID),
        FOREIGN KEY (OrderID) REFERENCES Orders(OrderID) ON DELETE CASCADE,
        FOREIGN KEY (ProductID) REFERENCES Products(ProductID) ON DELETE CASCADE
    )
    ''')

    # Commit the changes
    cnx.commit()
    print("Database and tables created successfully.")

except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Access denied: Check your username or password.")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist.")
    else:
        print(err)
finally:
    cursor.close()
    cnx.close()

Explanation:

Database Creation:

CREATE DATABASE IF NOT EXISTS OnlineRetailStore: Creates the OnlineRetailStore database if it doesn't already exist.
USE OnlineRetailStore: Selects the newly created database for subsequent operations.
Table Definitions:

Customers:
CustomerID: Primary key with auto-increment.
FirstName, LastName, Email, RegistrationDate: Essential customer details.
Products:
ProductID: Primary key with auto-increment.
ProductName, Price, StockQuantity: Product details.
Orders:
OrderID: Primary key with auto-increment.
OrderDate, CustomerID, TotalAmount: Order details.
FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID) ON DELETE CASCADE: Establishes a relationship with the Customers table, ensuring that if a customer is deleted, their orders are also removed.
OrderDetails:
OrderID, ProductID: Composite primary key to handle the many-to-many relationship between orders and products.
Quantity, UnitPrice: Details about each product in an order.
FOREIGN KEY constraints link to Orders and Products tables, ensuring referential integrity.

Step 6: Insert Sample Data
Populate the tables with sample data to test the setup.

In [ ]:
try:
    # Reconnect to MySQL and select the database
    cnx = mysql.connector.connect(**config, database='OnlineRetailStore')
    cursor = cnx.cursor()

    # Insert sample customers
    cursor.execute('''
    INSERT INTO Customers (FirstName, LastName, Email, RegistrationDate)
    VALUES
    ('John', 'Doe', 'john.doe@example.com', '2024-10-01'),
    ('Jane', 'Smith', 'jane.smith@example.com', '2024-09-25')
    ''')

    # Insert sample products
    cursor.execute('''
    INSERT INTO Products (ProductName, Price, StockQuantity)
    VALUES
    ('Laptop', 999.99, 50),
    ('Smartphone', 499.99, 100),
    ('Headphones', 149.99, 200)
    ''')

    # Insert sample orders
    cursor.execute('''
    INSERT INTO Orders (OrderDate, CustomerID, TotalAmount)
    VALUES
    ('2024-10-02 14:30:00', 1, 1149.98),
    ('2024-10-03 10:00:00', 2, 499.99)
    ''')

    # Insert into OrderDetails (junction table)
    cursor.execute('''
    INSERT INTO OrderDetails (OrderID, ProductID, Quantity, UnitPrice)
    VALUES
    (1, 1, 1, 999.99),
    (1, 3, 1, 149.99),
    (2, 2, 1, 499.99)
    ''')

    # Commit the changes
    cnx.commit()
    print("Sample data inserted successfully.")

except mysql.connector.Error as err:
    print(err)
finally:
    cursor.close()
    cnx.close()

Explanation:




Customers:

  Adds two customers: John Doe and Jane Smith.
Products:
  Adds three products: Laptop, Smartphone, and Headphones.
Orders:
  Creates two orders: one by John for a Laptop and Headphones, and another by Jane for a Smartphone.
OrderDetails:
  Links orders to products, specifying the quantity and unit price for each product in an order.
  
Note: If you run this cell multiple times, it will attempt to insert the same data again, potentially causing duplicate entries or violating unique constraints (like the Email field). To prevent this, you might want to clear the tables before inserting or handle duplicates appropriately.

Step 7: Query the Data
Retrieve and display data to ensure that everything is set up correctly.

In [ ]:
try:
    # Reconnect to MySQL and select the database
    cnx = mysql.connector.connect(**config, database='OnlineRetailStore')
    cursor = cnx.cursor()

    # Fetch all orders with customer details
    cursor.execute('''
    SELECT o.OrderID, c.FirstName, c.LastName, o.OrderDate, o.TotalAmount
    FROM Orders o
    JOIN Customers c ON o.CustomerID = c.CustomerID
    ''')

    orders = cursor.fetchall()
    print("Orders with Customer Details:")
    for order in orders:
        print(order)

    # Retrieve products in a specific order (e.g., OrderID = 1)
    cursor.execute('''
    SELECT p.ProductName, od.Quantity, od.UnitPrice
    FROM OrderDetails od
    JOIN Products p ON od.ProductID = p.ProductID
    WHERE od.OrderID = 1
    ''')

    products_in_order = cursor.fetchall()
    print("\nProducts in Order ID 1:")
    for product in products_in_order:
        print(product)

except mysql.connector.Error as err:
    print(err)
finally:
    cursor.close()
    cnx.close()

Expected Output:

sql
Copy code
Orders with Customer Details:
(1, 'John', 'Doe', '2024-10-02 14:30:00', Decimal('1149.98'))
(2, 'Jane', 'Smith', '2024-10-03 10:00:00', Decimal('499.99'))

Products in Order ID 1:
('Laptop', 1, Decimal('999.99'))
('Headphones', 1, Decimal('149.99'))
Explanation:

Orders with Customer Details:
Displays each order along with the customer's first and last name, order date, and total amount.
Products in Order ID 1:
Lists the products included in the first order, specifying the product name, quantity ordered, and unit price.