### Part 1: Creating the Database Table and Inserting Data

#### 1. Create the `Books` Table:
```sql
CREATE TABLE Books (
  BookID INT AUTO_INCREMENT PRIMARY KEY,
  Title VARCHAR(255) NOT NULL,
  Author VARCHAR(255) NOT NULL,
  Genre VARCHAR(100),
  PublishedYear YEAR,
  Price DECIMAL(10, 2),
  ISBN VARCHAR(13) UNIQUE
);
```

- **BookID**: A unique identifier for each book, automatically incremented.
- **Title** and **Author**: Mandatory fields to ensure each book has a title and author.
- **Genre**: Stores the genre of the book.
- **PublishedYear**: Stores the year the book was published.
- **Price**: The price of the book, with two decimal places for cents.
- **ISBN**: A unique 13-character string, which can be `NULL` for some books.

#### 2. Insert Data into the `Books` Table:
```sql
INSERT INTO Books (Title, Author, Genre, PublishedYear, Price, ISBN)
VALUES
('To Kill a Mockingbird', 'Harper Lee', 'Fiction', 1960, 10.99, NULL),
('1984', 'George Orwell', 'Dystopian', 1949, 8.99, '9780451524935'),
('The Great Gatsby', 'F. Scott Fitzgerald', 'Classic', 1925, 12.50, '9780743273565'),
('The Catcher in the Rye', 'J.D. Salinger', 'Classic', 1951, 7.99, NULL),
('Pride and Prejudice', 'Jane Austen', 'Romance', 1813, 9.99, '9780141439518');
```

### Part 2: Writing SQL Queries

#### 1. Retrieve All Records:
```sql
SELECT * FROM Books;
```
- **Purpose**: This query retrieves all the records from the `Books` table.

#### 2. List Distinct Genres:
```sql
SELECT DISTINCT Genre FROM Books;
```
- **Purpose**: This query finds all unique genres in the table.

#### 3. Filter by Price:
```sql
SELECT * FROM Books WHERE Price < 10;
```
- **Purpose**: This query finds all books that cost less than $10.

#### 4. Order by Year:
```sql
SELECT * FROM Books ORDER BY PublishedYear ASC;
```
- **Purpose**: This query lists all books ordered by their published year in ascending order.

#### 5. Filter with Multiple Conditions:
```sql
SELECT * FROM Books
WHERE (Genre = 'Classic' OR Price BETWEEN 8.00 AND 12.00)
AND PublishedYear >= 1950;
```
- **Purpose**: This query finds all books that are either in the 'Classic' genre or have a price between $8.00 and $12.00, but excludes books published before 1950.

#### 6. Find NULL ISBNs:
```sql
SELECT * FROM Books WHERE ISBN IS NULL;
```
- **Purpose**: This query finds all books where the ISBN is `NULL`.

#### 7. Use of IN Clause:
```sql
SELECT * FROM Books WHERE Author IN ('Harper Lee', 'George Orwell');
```
- **Purpose**: This query finds all books written by either 'Harper Lee' or 'George Orwell'.

#### 8. Apply an Alias:
```sql
SELECT Title, Price AS Cost FROM Books;
```
- **Purpose**: This query retrieves the book title and price, but displays the price as "Cost" using an alias.

These queries will allow you to explore and manipulate the data in the `Books` table effectively.

To execute SQL commands in Google Colab, you can use SQLite, a lightweight, disk-based database that doesn't require a separate server process. Hereâ€™s how you can do it in Google Colab:

### Part 1: Setting Up the Database and Inserting Data

#### 1. Set Up the Database and Create the `Books` Table:
```python
import sqlite3

# Connect to SQLite database (it will create a new database file if it doesn't exist)
conn = sqlite3.connect('books.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Create the Books table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Books (
  BookID INTEGER PRIMARY KEY AUTOINCREMENT,
  Title TEXT NOT NULL,
  Author TEXT NOT NULL,
  Genre TEXT,
  PublishedYear INTEGER,
  Price REAL,
  ISBN TEXT UNIQUE
)
''')

# Commit the changes
conn.commit()
```

#### 2. Insert Data into the `Books` Table:
```python
# Insert records into the Books table
cursor.executemany('''
INSERT INTO Books (Title, Author, Genre, PublishedYear, Price, ISBN)
VALUES (?, ?, ?, ?, ?, ?)
''', [
    ('To Kill a Mockingbird', 'Harper Lee', 'Fiction', 1960, 10.99, None),
    ('1984', 'George Orwell', 'Dystopian', 1949, 8.99, '9780451524935'),
    ('The Great Gatsby', 'F. Scott Fitzgerald', 'Classic', 1925, 12.50, '9780743273565'),
    ('The Catcher in the Rye', 'J.D. Salinger', 'Classic', 1951, 7.99, None),
    ('Pride and Prejudice', 'Jane Austen', 'Romance', 1813, 9.99, '9780141439518')
])

# Commit the changes
conn.commit()
```

### Part 2: Writing SQL Queries

#### 1. Retrieve All Records:
```python
# Query to retrieve all records
cursor.execute('SELECT * FROM Books')
all_books = cursor.fetchall()

# Display the results
for book in all_books:
    print(book)
```

#### 2. List Distinct Genres:
```python
# Query to list distinct genres
cursor.execute('SELECT DISTINCT Genre FROM Books')
distinct_genres = cursor.fetchall()

# Display the results
for genre in distinct_genres:
    print(genre)
```

#### 3. Filter by Price:
```python
# Query to find books that cost less than $10
cursor.execute('SELECT * FROM Books WHERE Price < 10')
cheap_books = cursor.fetchall()

# Display the results
for book in cheap_books:
    print(book)
```

#### 4. Order by Year:
```python
# Query to list books ordered by their published year
cursor.execute('SELECT * FROM Books ORDER BY PublishedYear ASC')
ordered_books = cursor.fetchall()

# Display the results
for book in ordered_books:
    print(book)
```

#### 5. Filter with Multiple Conditions:
```python
# Query to find books with specific conditions
cursor.execute('''
SELECT * FROM Books
WHERE (Genre = 'Classic' OR Price BETWEEN 8.00 AND 12.00)
AND PublishedYear >= 1950
''')
filtered_books = cursor.fetchall()

# Display the results
for book in filtered_books:
    print(book)
```

#### 6. Find NULL ISBNs:
```python
# Query to find books where ISBN is NULL
cursor.execute('SELECT * FROM Books WHERE ISBN IS NULL')
books_with_null_isbn = cursor.fetchall()

# Display the results
for book in books_with_null_isbn:
    print(book)
```

#### 7. Use of IN Clause:
```python
# Query to find books written by either Harper Lee or George Orwell
cursor.execute("SELECT * FROM Books WHERE Author IN ('Harper Lee', 'George Orwell')")
specific_authors_books = cursor.fetchall()

# Display the results
for book in specific_authors_books:
    print(book)
```

#### 8. Apply an Alias:
```python
# Query to retrieve the book title and price with an alias for price
cursor.execute('SELECT Title, Price AS Cost FROM Books')
books_with_cost = cursor.fetchall()

# Display the results
for book in books_with_cost:
    print(book)
```

### Final Step: Closing the Connection
Don't forget to close the database connection after you're done to ensure that all changes are saved properly:
```python
# Close the connection
conn.close()
```

You can run these code snippets in Google Colab sequentially to create the database, insert data, and perform the SQL queries. The results will be printed in the Colab notebook.

#2

In [ ]:
import sqlite3

# Connect to SQLite database (it will create a new database file if it doesn't exist)
conn = sqlite3.connect('books.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Create the Books table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Books (
  BookID INTEGER PRIMARY KEY AUTOINCREMENT,
  Title TEXT NOT NULL,
  Author TEXT NOT NULL,
  Genre TEXT,
  PublishedYear INTEGER,
  Price REAL,
  ISBN TEXT UNIQUE
)
''')

# Commit the changes
conn.commit()

In [ ]:
# Insert records into the Books table
cursor.executemany('''
INSERT INTO Books (Title, Author, Genre, PublishedYear, Price, ISBN)
VALUES (?, ?, ?, ?, ?, ?)
''', [
    ('To Kill a Mockingbird', 'Harper Lee', 'Fiction', 1960, 10.99, None),
    ('1984', 'George Orwell', 'Dystopian', 1949, 8.99, '9780451524935'),
    ('The Great Gatsby', 'F. Scott Fitzgerald', 'Classic', 1925, 12.50, '9780743273565'),
    ('The Catcher in the Rye', 'J.D. Salinger', 'Classic', 1951, 7.99, None),
    ('Pride and Prejudice', 'Jane Austen', 'Romance', 1813, 9.99, '9780141439518')
])

# Commit the changes
conn.commit()

In [ ]:
# Query to retrieve all records
cursor.execute('SELECT * FROM Books')
all_books = cursor.fetchall()

# Display the results
for book in all_books:
    print(book)

(1, 'To Kill a Mockingbird', 'Harper Lee', 'Fiction', 1960, 10.99, None)
(2, '1984', 'George Orwell', 'Dystopian', 1949, 8.99, '9780451524935')
(3, 'The Great Gatsby', 'F. Scott Fitzgerald', 'Classic', 1925, 12.5, '9780743273565')
(4, 'The Catcher in the Rye', 'J.D. Salinger', 'Classic', 1951, 7.99, None)
(5, 'Pride and Prejudice', 'Jane Austen', 'Romance', 1813, 9.99, '9780141439518')

In [ ]:
# Query to list distinct genres
cursor.execute('SELECT DISTINCT Genre FROM Books')
distinct_genres = cursor.fetchall()

# Display the results
for genre in distinct_genres:
    print(genre)

('Fiction',)
('Dystopian',)
('Classic',)
('Romance',)

In [ ]:
# Query to find books that cost less than $10
cursor.execute('SELECT * FROM Books WHERE Price < 10')
cheap_books = cursor.fetchall()

# Display the results
for book in cheap_books:
    print(book)

(2, '1984', 'George Orwell', 'Dystopian', 1949, 8.99, '9780451524935')
(4, 'The Catcher in the Rye', 'J.D. Salinger', 'Classic', 1951, 7.99, None)
(5, 'Pride and Prejudice', 'Jane Austen', 'Romance', 1813, 9.99, '9780141439518')

In [ ]:
# Query to list books ordered by their published year
cursor.execute('SELECT * FROM Books ORDER BY PublishedYear ASC')
ordered_books = cursor.fetchall()

# Display the results
for book in ordered_books:
    print(book)

(5, 'Pride and Prejudice', 'Jane Austen', 'Romance', 1813, 9.99, '9780141439518')
(3, 'The Great Gatsby', 'F. Scott Fitzgerald', 'Classic', 1925, 12.5, '9780743273565')
(2, '1984', 'George Orwell', 'Dystopian', 1949, 8.99, '9780451524935')
(4, 'The Catcher in the Rye', 'J.D. Salinger', 'Classic', 1951, 7.99, None)
(1, 'To Kill a Mockingbird', 'Harper Lee', 'Fiction', 1960, 10.99, None)

In [ ]:
# Query to find books with specific conditions
cursor.execute('''
SELECT * FROM Books
WHERE (Genre = 'Classic' OR Price BETWEEN 8.00 AND 12.00)
AND PublishedYear >= 1950
''')
filtered_books = cursor.fetchall()

# Display the results
for book in filtered_books:
    print(book)

(1, 'To Kill a Mockingbird', 'Harper Lee', 'Fiction', 1960, 10.99, None)
(4, 'The Catcher in the Rye', 'J.D. Salinger', 'Classic', 1951, 7.99, None)

In [ ]:
# Query to find books where ISBN is NULL
cursor.execute('SELECT * FROM Books WHERE ISBN IS NULL')
books_with_null_isbn = cursor.fetchall()

# Display the results
for book in books_with_null_isbn:
    print(book)

(1, 'To Kill a Mockingbird', 'Harper Lee', 'Fiction', 1960, 10.99, None)
(4, 'The Catcher in the Rye', 'J.D. Salinger', 'Classic', 1951, 7.99, None)

In [ ]:
# Query to find books written by either Harper Lee or George Orwell
cursor.execute("SELECT * FROM Books WHERE Author IN ('Harper Lee', 'George Orwell')")
specific_authors_books = cursor.fetchall()

# Display the results
for book in specific_authors_books:
    print(book)

(1, 'To Kill a Mockingbird', 'Harper Lee', 'Fiction', 1960, 10.99, None)
(2, '1984', 'George Orwell', 'Dystopian', 1949, 8.99, '9780451524935')

In [ ]:
# Query to retrieve the book title and price with an alias for price
cursor.execute('SELECT Title, Price AS Cost FROM Books')
books_with_cost = cursor.fetchall()

# Display the results
for book in books_with_cost:
    print(book)

('To Kill a Mockingbird', 10.99)
('1984', 8.99)
('The Great Gatsby', 12.5)
('The Catcher in the Rye', 7.99)
('Pride and Prejudice', 9.99)

In [ ]:
# Close the connection
conn.close()